<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Email Confirmation</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color: #fff; margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="515" style="border: 1px solid #cccccc; border-collapse: collapse;">
                    <tr>
                        <td align="center" bgcolor="#fff" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <div>
                                W E L C O M E !
                            </div>
                            <div>
                                <img src="https://image.flaticon.com/icons/png/512/3062/3062634.png" alt="Message" width="250px" style="display: block;" />
                            </div>
                            <div>
                                <h6 style="margin:30px 0px 0px 0px">Activation Code :</h6>
                                <h3 style="margin:10px 0px 0px 0px">{{activationCode}}</h3>
                            </div>
                            <div style="padding:30px 50px 30px 50px;text-align:left;color:#707070;font-size:16px;font-weight:300;font-family:Arial,sans-serif;font-size:16px;line-height:20px">
                                Hi, {{email}}! You are almost ready to start enjoying our apps. Simply click the big button below to input your activation code.
                            </div>
                            <div>
                                <a href="{{directLink}}/true">
                                    <input type="button" value="Input Code" style="background-color:#00cb8e;color:#fff;padding:15px 32px;border:none;font-size:14px;font-family:Arial,sans-serif">
                                </a>
                            </div>
                            <div style="padding:50px 50px 15px 50px;text-align:center;color:#707070;font-size:16px;font-weight:300;font-family:Arial,sans-serif;font-size:16px;line-height:20px">
                                You can also click this link :
                            </div>
                            <div style="padding:0px 20px 30px 20px;text-align:center;color:#707070;font-size:16px;font-weight:300;font-family:Arial,sans-serif;font-size:16px;line-height:20px">
                                <a href="{{directLink}}/false">{{directLink}}/false</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#8399fe" style="padding: 30px 30px 30px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                                        &reg; Tetring, <b>Task</b>Monitoring Apps 2020<br/>
                                        <a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a> to this newsletter instantly
                                    </td>
                                    <td align="right" width="25%">
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="http://www.twitter.com/" style="color: #ffffff;">
                                                        <img src="https://image.flaticon.com/icons/png/512/3437/3437395.png" alt="Twitter" width="35" height="35" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                                <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                                <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                                                    <a href="http://www.facebook.com/" style="color: #ffffff;">
                                                        <img src="https://image.flaticon.com/icons/png/512/3435/3435918.png" alt="Facebook" width="35" height="35" style="display: block;" border="0" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>